* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #edf8ff;
}

.navbar {
  background-color: #0088de;
  height: 72px;
}

button {
  position: relative;
  background-color: #009b6a;
  color: white;
  border-radius: 6px;
  border: solid #009b6a 8px;
  cursor: pointer;
}

.navbar button {
  top: -53px;
  left: 1480px;
  height: 45px;
  width: 45px;
  margin-left: 10px;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: 2px 2px black;
}

.navbar .search-btn {
  position: absolute;
  left: 1410px;
  top: 12px;
  padding: -5px 1px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0);
  border: solid rgba(0, 0, 0, 0);
}

.navbar button i {
  transform: rotate(90deg);
  color: #009b6a;
  padding: 5px 1px;
  margin-left: 6px;
  border-bottom: solid #009b6a 2px;
  width: 30px;
}

.navbar button p {
  position: relative;
  font-size: 13px;
  margin-top: 3px;
  top: -20px;
}

#secondButtonDesc {
  top: -17px;
  left: -4px;
}

.navbar .buttonIcon {
  font-size: 23px;
  font-weight: 100px;
  top: -12px;
}

/* .navbar button: {
  
} */

.navbar input {
  position: absolute;
  top: 14px;
  left: 430px;
  height: 44px;
  width: 1036px;
  font-size: 30px;
  border-radius: 10px;
  border-color: #0088de;
  padding-left: 15px;
}

.navbar input::placeholder {
  padding-left: -10px;
}

.navbar input:focus {
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#logo {
  font-size: 44px;
  font-weight: 100px;
  color: white;
  padding: 3px 0px;
  margin-left: 37px;
}

.home p {
  position: relative;
  font-size: 25px;
  max-width: 620px;
  left: 600px;
  top: 100px;
}

.dictionary_page {
  position: relative;
}

.dictionary_page .picture {
  position: relative;
  top: 40px;
  left: 64px;
  width: 191px;
  height: 297px;
  border-radius: 10px 10px 5px 7px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.anime-planet.com/images/characters/dio-brando-19367.jpg?t=1587909581");
}

.dictionary_page h1 {
  position: absolute;
  top: 60px;
  left: 290px;
  font-size: 55px;
  color: #0088de;
}

/* top:220px; */
.dictionary_page .textbox {
  position: relative;
  top: -140px;
  left: 62px;
  margin: auto;
  max-width: 1450px;
  font-size: 25px;
  font-weight: 50px;
}

.dictionary_page button {
  position: absolute;
  left: 1600px;
  top: 60px;
  width: 220px;
  height: 44px;
  text-align: left;
  color: white;
  border-radius: 12px;
}

.dictionary_page button span:first-child {
  position: relative;
  top: -15px;
  font-size: 40px;
  margin-right: 10px;
  padding-right: 2px;
  border-right: solid 2px white;
}

.dictionary_page button span:last-child {
  position: relative;
  display: inline;
  font-size: 30px;
  top: -17px;
}

/*top: 40px*/
.breakdown-field {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: auto;
  top: 10px;
  left: 1px;
  width: 1792px;
  min-height: 491px;
  height: fit-content;
  background-color: #0088de;
  border-radius: 7px;
}

.other_entries {
  position: relative;
  left: 72px;
  margin-left: -200px;
  width: 440px;
  background-color: #51b5ef;
  text-align: left;
}

.breakdown-field h2 {
  position: relative;
  top: 10px;
  left: 25px;
  display: inline;
  color: white;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 1px;
}

.breakdown-field > h2 {
  min-width: 200px;
}

.breakdown-field ul {
  position: relative;
  top: 60px;
  left: -160px;
  list-style-type: none;
}

.kanji-list li {
  margin-bottom: -100px;
  padding-top: -25px;
  padding-bottom: 15px;
  border-top: solid 2px white;
  min-width: 1280px;
}

.kanji-list li:last-child {
  margin-bottom: -10px;
}

.kanji-list li:first-child {
  border-top: none;
}

.kanji-list h2 {
  position: relative;
  top: 20px;
  left: -10px;
  font-size: 90px;
}

.kanji-list p {
  position: relative;
  top: -85px;
  left: 100px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #51b5ef;
  border-radius: 8px;
}
